{% extends 'layout.html' %}

{% block pageTitle %}
Content page template - NHS.UK prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

  {{
    header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
        },
    
        {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
        },

        {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
        },

        {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
        },

        {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
        },

        {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
        }
      ]
    })
  }}

{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/",
        text: "Health A to Z"
      }
    ],
        href: "menopause",
        text: "Menopause"
  }) }}
{% endblock %}



{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">Treatment
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Menopause
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="menopause">Overview</a>
          </li>
  
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="symptoms">Symptoms</a>
          </li>
  
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="things-you-can-do">Things you can do</a>
          </li>

          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Treatments</a>
          </li>
  
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="further-help-and-support">Further help and support</a>
          </li>




        </ol>
      </nav>

    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
          <p>The main medicine treatment for perimenopausal and menopausal symptoms is hormone replacement therapy (HRT), which replaces the hormones that are at low levels.</p> 
          <p>There are other treatments if you cannot, or chose not to, take HRT.</p>
        </section>


        <section>
          <h2>Hormone replacement therapy (HRT)</h2>
          <p>HRT is a safe and effective treatment for symptoms of perimenopause and menopause for most of those who take it.</p>
          <p>HRT involves taking oestrogen to replace your body's own levels around the time of the menopause.</p>
          <p>There are different types and doses of HRT. Taking the right dose and type usually means your symptoms improve.</p>
          <p>Talk with a doctor or nurse about the different types and ways of taking HRT, and which combination might be right for you.</p>
          <p>Oestrogen HRT comes as:</p>
          <ul>
            <li>tablets</li>
            <li>skin patches</li>
            <li>a gel or spray to put on the skin</li>
            <li>implants</li>
          </ul>

          <p>Taking oestrogen through the skin, with a patch or gel, is safer and more effective.</p>
          <p>If you have a womb (uterus) you also need to take progesterone to protect your womb lining from the effects of oestrogen. Taking oestrogen and progesterone is called combined HRT.</p>

          <p>Progesterone comes as: </p>
          <ul>
            <li>patches, as part of a combined patch with oestrogen</li>
            <li>skin patches</li>
            <li>IUS (intrauterine system, or coil)</li>
          </ul>
          <p>If you have low sex drive because of the menopause and HRT does not improve it, you may be offered testosterone.</p>
        </section>


        <section>
          <h3>Benefits of HRT</h3>
          <p>The main benefit of HRT is that it can help relieve most perimenopausal and menopausal symptoms, including hot flushes, brain fog, joint pains, mood swings and vaginal dryness.</p>
          <p>Hot flushes or night sweats often improve within a few weeks. Other symptoms like mood changes and vaginal dryness can take a few months to improve.</p>
          <p>Many of those who take HRT find their quality of life at home and at work improves.</p>
          <p>Taking HRT can also reduce your risk of hormone-related health problems including osteoporosis and heart disease.</p>
        </section>


        <section>
          <h3>Risks of HRT</h3>
          <p>The risks of HRT are small and are usually outweighed by the benefits.</p>
          <p>If you’re interested in HRT, your doctor or nurse can discuss the risks with you.</p>
          <p>Some types of HRT can slightly increase the risk of breast cancer so it’s not recommended if you’ve had breast cancer in the past.</p>
        
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Find our more:</span>
            <h4>Find out more</h4>
            <p><a href="https://www.nhs.uk/conditions/hormone-replacement-therapy-hrt/">Hormone replacement therapy (HRT)</a></p>
          </div>
        </section>


        <section>
          <h2>Testosterone and vaginal oestrogen</h2>
          <h3>Testosterone gel for reduced sex drive</h3>
          <p>If HRT does not help restore your sex drive, you might be offered a testosterone gel or cream.</p>
          <p>Testosterone is produced by the ovaries and your levels usually get lower with age.</p>
          <p>It’s not currently licensed for use in women, although it can be prescribed after the menopause by a specialist doctor if they think it might help restore your sex drive.</p>
          <p>You apply the gel or cream to the skin on your tummy, top of your leg or buttocks. It can help improve sex drive, mood and energy levels. It’s safe to use at the same time as HRT.</p>
          <p>Side effects of testosterone are not common but include acne and unwanted hair growth.</p>
          <p>Read more about <a href="https://www.nhs.uk/conditions/loss-of-libido/">loss of libido</a>.</p>

          <h3>Oestrogen for vaginal dryness and discomfort</h3>
          <p>Your vagina may become dry, painful or itchy as a result of the menopause. A GP can prescribe oestrogen treatments you can insert into your vagina, as a tablet, cream or ring. This can also improve any urinary symptoms.</p>
          <p>These vaginal oestrogen treatments do not get into your bloodstream and only work on the bit of the body where you put them. You can use them for the rest of your life. Symptoms usually come back when you stop using them.</p>
          <p>It’s safe to use vaginal oestrogen with HRT.</p>
          <p>Read more about <a href="https://www.nhs.uk/conditions/vaginal-dryness/">vaginal dryness</a>.</p>

          <h3>Non hormone medicines</h3>
          <p>There are non hormone treatments if your symptoms are having a big impact on your life and you cannot, or choose not to, take HRT.</p>
          <p>You’ll be offered different types of treatment depending on your symptoms. </p>

          <h3>Hot flushes</h3>
          <p>Some antidepressants can improve hot flushes and night sweats. They do not work to improve low mood caused by perimenopause or menopause.</p>
          <p>Clonidine is a medicine that can lower blood pressure and may help with hot flushes. It should not be given routinely instead of HRT. Side effects of clonidine include feeling sleepy, a dry mouth and low mood.</p>
          <p>Gabapentin is an epilepsy medicine that can help with hot flushes, but it can make you feel sleepy or dizzy.</p> 

          <h3>Mood symptoms</h3>
          <p>Antidepressants can help with mood symptoms if you’ve been diagnosed with depression or anxiety.</p>
        </section>


        <section>
          <h2>Cognitive behavioural therapy (CBT)</h2>
          <p>Cognitive behavioural therapy (CBT) is a talking therapy which can help with:</p>
          <ul>
            <li>menopausal low mood and anxiety</li>
            <li>some physical symptoms like hot flushes and joint pain</li>
          </ul>
          <p>You can get NHS talking therapy without going to a GP first.</p>

          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/find-a-psychological-therapies-service/">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Find an NHS psychological therapies service</span>
            </a>
          </div>
        </section>


        <section>
          <h2>Follow-up appointments</h2>
          <p>If you're having treatment for menopausal symptoms, you'll need to return to the doctor or nurse who is prescribing your HRT for a follow-up review after 3 months.</p>
          <p>When you and your doctor or nurse agree your treatment is working well for you, you’ll need to see them once a year.</p>
          <p>During your reviews, your GP or nurse may:</p>
          <ul>
            <li>make sure your symptoms are under control</li>
            <li>ask about any side effects and bleeding patterns</li>
            <li>check your weight and blood pressure</li>
            <li>review the type of HRT you're taking and make any necessary changes</li>
          </ul>
          <p>You may need treatment for a few years, until most of your menopausal symptoms have passed.</p>
          <p>You can choose to continue taking HRT. The doctor or nurse prescribing your HRT can discuss with you the benefits and risks, so you can decide what’s right for you.</p>
          <p>You can take HRT for as long as you need it if you and your doctor or nurse agree it’s the right thing for you.</p>
        </section>


        <section>
          <h2>Complementary and alternative therapies</h2>
          <p>Complementary and alternative treatments, such as herbal remedies and compounded bioidentical ("natural") hormones, are not recommended for symptoms of the perimenopause or menopause.</p>
          <p>This is because it's not clear how safe or effective they are.</p>
          <p>Red clover and black cohosh are herbal remedies but there is no strong evidence they work.</p>
          <p>Some complementary and alternative therapies can interact with other medicines and cause side effects.</p>
          <p>Ask your GP or pharmacist for advice if you're thinking about using a complementary therapy.</p>
        </section>

        <section>
          <h3>Compounded bioidentical hormones</h3>
          <p>Compounded bioidentical hormones are not available on the NHS but some private clinics offer them as HRT. Compounded bioidentical hormones are not recommended because it’s not known how well they work or how safe they are.</p>
          <p>Some bioidentical hormones are not compounded. These non-compounded <mark>bioidentical</mark> hormones are sometimes called body identical. Body identical hormones are available on the NHS as HRT, and are checked to see how well they work and how safe they are.</p>
        </section>



        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 17 December 2021<br>
            Next review due: 17 December 2024
          </p>
        </div>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="things-you-can-do">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Things you can do</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                  </path>
                </svg>
              </a>
            </li>

            <li class="nhsuk-pagination-item--next">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="further-help-and-support">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Further help and support</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </article>

{% endblock %}




<!-- Footer goes inside the footer block -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-sites/" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-app/" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/contact-us/" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/personalisation/login.aspx" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/site-map/" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/accessibility-statement/" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/cookies-policy/" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}