{% extends 'layout.html' %}

{% block pageTitle %}
Content page template - NHS.UK prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

  {{
    header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
        },
    
        {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
        },

        {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
        },

        {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
        },

        {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
        },

        {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
        }
      ]
    })
  }}

{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/",
        text: "Health A to Z"
      }
    ],
        href: "menopause",
        text: "Menopause"
  }) }}
{% endblock %}



{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">Treatment
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Menopause
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="menopause">Overview</a>
          </li>

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="symptoms">Symptoms</a>
          </li>

          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Treatment</span>
          </li>

        </ol>
      </nav>

    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
          <p>The main treatment for menopausal symptoms is hormone replacement therapy (HRT), although other treatments are also available for some of the symptoms. Eating well, exercising and looking after your <a href="https://www.nhs.uk/mental-health/self-help/guides-tools-and-activities/five-steps-to-mental-wellbeing/">mental wellbeing</a> can also help.</p>
        </section>


        <section>
          <h2>Hormone replacement therapy (HRT)</h2>
          <p>HRT replaces the hormones that are now missing in your body.</p>
          <p>HRT relieves menopausal symptoms and helps protect against developing conditions such as <a href="https://www.nhs.uk/conditions/osteoporosis/">osteoporosis</a>, heart disease and type 2 diabetes.</p>
          <p>HRT is available as tablets, skin patches, a gel or spray to apply onto the skin or implants.</p>
          <p><a href="hormone-replacement-therapy-hrt">Find out more about HRT</a></p>
        </section>


        <section>
          <h2>Hot flushes and night sweats</h2>
          <p>Things that can help hot flushes and <a href="night sweats"></a> include:</p>
          <ul>
            <li>wearing light clothing</li>
            <li>keeping your bedroom cool at night</li>
            <li>taking a cool shower, using a fan or having a cold drink</li>
            <li>trying to reduce your <a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/stress/">stress level</a></li>
            <li>avoiding potential triggers, such as spicy food, caffeine, smoking and alcohol</li>
            <li><a href="https://www.nhs.uk/live-well/exercise/free-fitness-ideas/">exercising regularly</a> and <a href="https://www.nhs.uk/better-health/lose-weight/">losing weight</a> if you're overweight</li>
          </ul>

          <p>If the flushes and sweats are frequent or severe, your GP may suggest taking HRT.</p>
          <p>If HRT isn't suitable for you, or you would prefer not to have it, your GP may recommend other medicines that can help, such as clonidine a (<a href="https://www.nhs.uk/conditions/high-blood-pressure-hypertension/">high blood pressure medicine</a>) or certain <a href="https://www.nhs.uk/mental-health/talking-therapies-medicine-treatments/medicines-and-psychiatry/antidepressants/overview/">antidepressants</a>.</p>
          <p>These medicines can cause unpleasant side effects, so it's important to discuss the risks and benefits with your doctor before starting treatment.</p>
        </section>

        <section>
          <h2>Mood changes</h2>
          <p>Some women experience mood swings, low mood and anxiety around the time of the menopause.</p>
          <p>Self-help measures such as getting plenty of rest, taking regular exercise and doing relaxing activities such as <a href="https://www.nhs.uk/live-well/exercise/guide-to-yoga/">yoga</a> and <a href="https://www.nhs.uk/live-well/exercise/guide-to-tai-chi/">tai chi</a> may help. Medicine and other treatments are also available, including HRT and <a href="https://www.nhs.uk/mental-health/talking-therapies-medicine-treatments/talking-therapies-and-counselling/cognitive-behavioural-therapy-cbt/overview/ ">cognitive behavioural therapy (CBT)</a>.</p>
          <p>CBT is a type of talking therapy that can improve low mood and feelings of anxiety. Your GP may be able to refer you for CBT on the NHS, or recommend self-help options such as online CBT courses.</p>
          <p>Antidepressants may help if you've been diagnosed with <a href="https://www.nhs.uk/mental-health/conditions/clinical-depression/overview/">depression</a>.</p>
        </section>


        <section>
          <h2>Reduced sexual desire</h2>
          <p>It's common for women to lose interest in sex around the time of the menopause, but HRT can often help with this. If HRT is not effective, you might be offered a testosterone gel to apply to an area of skin, such as your tummy or the top of your leg.</p>
          <p>Testosterone is the male sex hormone, and it can help restore sex drive in some women. It's not currently licensed for use in women, although it can be prescribed after the menopause by a specialist doctor if they think it might help restore your sex drive.</p>
          <p>Possible side effects of using testosterone include <a href="https://www.nhs.uk/conditions/acne/">acne</a> and <a href="https://www.nhs.uk/conditions/hirsutism/">unwanted hair growth</a>.</p>
          <p>Read more about <a href="https://www.nhs.uk/conditions/loss-of-libido/">loss of libido</a> and <a href="https://www.nhs.uk/live-well/sexual-health/female-sexual-problems/">female sexual problems</a>.</p>
        </section>


        <section>
          <h2>Vaginal dryness and discomfort</h2>
          <p>If your vagina becomes dry, painful or itchy as a result of the menopause, your GP can prescribe oestrogen treatment that's put directly into your vagina as a pessary, cream or vaginal ring.</p>
          <p>This can safely be used alongside HRT.</p>
          <p>You'll usually need to use vaginal oestrogen indefinitely, as your symptoms are likely to return when treatment stops. However, side effects are very rare.</p>
          <p>You can also use over-the-counter vaginal moisturisers or lubricants in addition to, or instead of, vaginal oestrogen.</p>
          <p>Read more about <a href="https://www.nhs.uk/conditions/vaginal-dryness/">vaginal dryness</a> and <a href="https://www.nhs.uk/live-well/sexual-health/">sex as you get older</a>.</p>
        </section>

        <section>
          <h2>Weak bones</h2>
          <p>Women who have been through the menopause are at an increased risk of developing weak bones that may break more easily (<a href="https://www.nhs.uk/conditions/osteoporosis/">osteoporosis</a>) as a result of the lower level of oestrogen in the body.</p>
          <p>You can reduce your chances of developing osteoporosis by:</p>
          <ul>
            <li><b>taking HRT</b> – HRT can help to prevent your bones getting weaker, although this effect does not tend to last after treatment stops</li>
            <li><b>exercising regularly</b> – including weight-bearing and resistance exercises</li>
            <li><b>eating a healthy diet</b> that includes plenty of fruit, vegetables and sources of <a href="https://www.nhs.uk/conditions/vitamins-and-minerals/calcium/">calcium</a>, such as low-fat milk and yoghurt</li>
            <li><b>getting some sunlight</b> – sunlight on your skin triggers the production of <a href="https://www.nhs.uk/conditions/vitamins-and-minerals/vitamin-d/"></a>vitamin D, which can help to keep your bones strong</li>
            <li><b>stopping smoking and cutting down on alcohol</b></li>
            <li><b>taking calcium and/or vitamin D supplements</b> if you do not feel you're getting enough of these – discuss this with your GP</li>
          </ul>
          <p>Read more about <a href="https://www.nhs.uk/conditions/osteoporosis/">menopause and bone health</a> and <a href="https://www.nhs.uk/conditions/osteoporosis/prevention/">preventing osteoporosis</a>.</p>
        </section>


        <section>
          <h2>Follow-up appointments</h2>
          <p>If you're having treatment for your menopausal symptoms, you'll need to return to your GP for a follow-up review after 3 months, and once a year after that.</p>
          <p>During your reviews, your GP may:</p>
          <ul>
            <li>make sure your symptoms are under control</li>
            <li>ask about any side effects and bleeding patterns</li>
            <li>check your weight and blood pressure</li>
            <li>review the type of HRT you're taking and make any necessary changes</li>
            <li>discuss whether you should continue it or if you decide to stop, how this should be done</li>
          </ul>
          <p>Many women will need treatment for a few years, until most of their menopausal symptoms have passed.</p>
          <p>Some women may wish to take HRT for many years. Their individual benefits and risk should be assessed every year.</p>
        </section>


        <section>
          <h2>Complementary and alternative therapies</h2>
          <p>Complementary and alternative treatments, such as herbal remedies and bioidentical ("natural") hormones, are not recommended for symptoms of the menopause. This is because it's generally unclear how safe and effective they are.</p>
          <p>Bioidentical hormones are not the same as body identical hormones. Body identical hormones, or micronised progesterone, can be prescribed to treat menopausal symptoms.</p>
          <p>Some complementary and alternative therapies can also interact with other medicines and cause side effects.</p>
          <p>Ask your GP or pharmacist for advice if you're thinking about using a complementary therapy.</p>
        </section>


        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 8 December 2021<br>
            Next review due: 8 December 2024
          </p>
        </div>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="symptoms">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Symptoms</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </article>

{% endblock %}




<!-- Footer goes inside the footer block -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-sites/" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-app/" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/contact-us/" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/personalisation/login.aspx" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/site-map/" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/accessibility-statement/" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/cookies-policy/" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}