{% extends 'layout.html' %}

{% block pageTitle %}
Content page template - NHS.UK prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

  {{
    header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
        },
    
        {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
        },

        {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
        },

        {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
        },

        {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
        },

        {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
        }
      ]
    })
  }}

{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/",
        text: "Health A to Z"
      }
    ],
        href: "menopause",
        text: "Menopause"
  }) }}
{% endblock %}



{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">Treatment
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Menopause
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="menopause">Overview</a>
          </li>

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="symptoms">Symptoms</a>
          </li>

          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Treatment</span>
          </li>

        </ol>
      </nav>

    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
          <p>The main treatment for menopausal symptoms is hormone replacement therapy (HRT), which replaces the hormones that are at low levels. There are other treatments.</p> 
          <p>Eating well, exercising and looking after your <a href="https://www.nhs.uk/mental-health/self-help/guides-tools-and-activities/five-steps-to-mental-wellbeing/">mental wellbeing</a> can also help.</p>
        </section>


        <section>
          <h2>Hormone replacement therapy (HRT)</h2>
          <p>Symptoms of the perimenopause and menopause are caused by low female hormone levels. HRT replaces these hormones.</p>
          <p>HRT always contains oestrogen, which is the most important hormone to replace. Oestrogen HRT comes in:</p>
          <ul>
            <li>tablets</li>
            <li>skin patches</li>
            <li>a gel or spray to put on the skin</li>
            <li>implants</li>
          </ul>
          <p>If you have a womb (uterus), you also need to take progesterone to protect the lining of your womb from the effects of oestrogen. You can take progestogen HRT as a tablet or have an IUS (intrauterine system) fitted in your womb.</p>
          <p>Sometimes HRT includes testosterone, another hormone the ovaries produce before the perimenopause. This usually comes as a gel or cream, or sometimes an implant. HRT relieves menopausal symptoms and helps protect against developing conditions such as <a href="https://www.nhs.uk/conditions/osteoporosis/">osteoporosis</a>, heart disease and type 2 diabetes.</p>
          <p>Side effects of HRT can include headaches and swelling, but these usually improve over time.</p>
        </section>

        <section>
          <h3>Benefits of HRT</h3>
          <p>The main benefit of HRT is that it can help relieve <a href="https://www.nhs.uk/conditions/menopause/symptoms/">menopausal symptoms</a>, including hot flushes, brain fog, joint pains, mood swings and vaginal dryness.</p>
          <p>Hot flushes or night sweats often improve within a few weeks of starting HRT. Other symptoms, like mood changes and vaginal dryness, can take a few months to improve.</p>
          <p>Taking HRT can also reduce the risk of hormone-related health problems like: </p>
          <ul>
            <li>heart disease</li>
            <li>osteoporosis</li>
            <li>type 2 diabetes</li>
            <li>dementia</li>
            <li>some types of cancer</li>
          </ul>
        </section>

        <section>
          <h3>Risks of HRT</h3>
          <p>For most people taking HRT, the benefits outweigh any risks. </p>
          <p><b>Blood clots</b></p>
          <p>There’s a small increased risk of blood clots if you take synthetic progestogen. This risk does not exist with micronised progesterone, which is a type of progesterone made from yams (also called body identical progesterone). </p>
          <p><b>Stroke</b></p>
          <p>There’s small increased risk of stroke from taking oestrogen by mouth, either on its own or with progestogen.</p>
          <p>Taking oestrogen as a patch, gel or spray does not increase the risk of stroke. </p>
          <p><b>Breast cancer</b></p>
          <p>If you’re under 51 years old, there’s no increased risk of breast cancer if you take HRT.</p>
          <p>If you’re over 51 and take combined HRT (oestrogen and progestogen) you may have a very small increased risk of breast cancer. This risk is lower than the risk of breast cancer for someone who drinks around 2 glasses of wine a day. </p>
          <p>There’s no evidence that shows an increased risk of dying from breast cancer if you take HRT. </p>
          <p>If you have had breast cancer, or you have a strong family history of breast cancer, you can still usually take HRT.</p>
          <p><a href="https://www.nhs.uk/conditions/hormone-replacement-therapy-hrt/">Find out more about HRT</a></p> 
        </section>

        <section>
          <h2>Other treatments</h2>
          <p>There are other treatments that may improve symptoms if you choose not to, or cannot,  take HRT. </p>
          <p><b>Antidepressants</b></p>
          <p>Antidepressants can sometimes improve hot flushes and night sweats. They do not work to improve low mood caused by perimenopause or menopause.</p>
          <p>If you have clinical depression, you can safely take antidepressants with HRT.</p>
          <p><b>Clonidine</b></p>
          <p>Is a medicine that can lower blood pressure. It should not be given routinely instead of HRT. Side effects of clonidine include feeling sleepy, a dry mouth and low mood. </p>
          <p><b>Gabapentin</b></p>
          <p>Gabapentin is an epilepsy medicine that can help with hot flushes, but it can make you feel sleepy or dizzy.</p>
          <p><b>CBT (cognitive behavioural therapy)</b></p>
          <p>CBT (cognitive behavioural therapy) is a talking therapy which can help with menopausal low mood and anxiety, and some physical symptoms like hot flushes and joint pains.</p>
          <p><a href="https://www.nhs.uk/service-search/find-a-psychological-therapies-service/">Find an NHS psychological therapies service (IAPT)</a> to refer yourself for CBT, or talk to your GP.</p>
        </section>

        <section>
          <h2>Self-care for menopausal symptoms</h2>
          <p>There are things you can do yourself to help with symptoms of perimenopause and menopause.</p>


          <h3>Hot flushes and night sweats</h3>
          <p>Things that can help hot flushes and <a href="https://www.nhs.uk/conditions/night-sweats/"></a> include:</p>
          <ul>
            <li>wearing light clothing</li>
            <li>keeping your bedroom cool at night</li>
            <li>taking a cool shower, using a fan or having a cold drink</li>
            <li>trying to <a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/stress/">reduce your stress level</a></li>
            <li>avoiding potential triggers, such as spicy food, caffeine, smoking and alcohol</li>
            <li><a href="https://www.nhs.uk/live-well/exercise/free-fitness-ideas/">exercising regularly</a> and <a href="https://www.nhs.uk/better-health/lose-weight/">losing weight</a> if you're overweight</li>
          </ul>
        </section>



        <section>
          <h3>Mood changes</h3>
          <p>It’s common to have  mood swings, low mood and anxiety around the time of the menopause. These often improve within a few weeks or months of taking HRT.</p>
          <p>Self-help measures that can help include:</p>
          <ul>
            <li>getting plenty of rest, </li>
            <li>exercising regularly</li>
            <li>doing relaxing activities such as yoga and tai chi </li>
          </ul>
          <p><a href="https://www.nhs.uk/mental-health/talking-therapies-medicine-treatments/talking-therapies-and-counselling/cognitive-behavioural-therapy-cbt/overview/">Cognitive behavioural therapy (CBT)</a> is a type of talking therapy that can help with a low mood and feelings of anxiety. </p>
        </section>


        <section>
          <h3>Reduced sex drive</h3>
          <p>It can be common to lose interest in sex around the time of the menopause, but HRT can often help with this. If HRT is not effective, you might be offered a testosterone gel or cream to apply to an area of skin, such as your tummy or the top of your leg or the buttock area.</p>
          <p>Testosterone is produced by the ovaries and levels usually decline with age.</p>
          <p>Testosterone  can improve your sex drive, mood and energy levels. It's not currently licensed for use in women in the UK, although it can be prescribed after the menopause by a clinician if they think it might help restore your sex drive.</p>
          <p>Possible side effects of using testosterone, such as acne and unwanted hair growth, are  uncommon. You’ll have  regular blood tests to monitor your testosterone levels.</p>
          <p>Read more about <a href="https://www.nhs.uk/conditions/loss-of-libido/">loss of libido</a>.</p>
        </section>


        <section>
          <h3>Vaginal dryness and discomfort</h3>
          <p>Your vagina may become dry, painful or itchy as a result of the menopause. A GP can prescribe treatments that are inserted directly into your vagina as a pessary, cream, gel or vaginal ring to help. This can also improve any urinary symptoms you might be having.</p>
          <p>These treatments are not absorbed into your body and only work on the bit of the body where they’re used. You can use them for as long as you want. Symptoms usually come back when you stop these treatments.</p>
          <p>This can safely be used alongside HRT.</p>
          <p>You can also use over-the-counter non-hormonal vaginal moisturisers or lubricants in addition to, or instead of, vaginal oestrogen.</p>
          <p>Read more about <a href="https://www.nhs.uk/conditions/vaginal-dryness/">vaginal dryness</a>.</p>
        </section>

        <section>
          <h3>Weak bones and osteoporosis</h3>
          <p>The menopause increases the risk of developing weak bones that may break more easily (<a href="https://www.nhs.uk/conditions/osteoporosis/">osteoporosis</a>) as a result of the lower level of oestrogen in the body.</p>
          <p>You can reduce your chances of developing osteoporosis by:</p>
          <ul>
            <li><b>taking HRT</b> – HRT can help to prevent your bones getting weaker, although this effect does not tend to last after treatment stops</li>
            <li><b>exercising regularly</b> – including weight-bearing and resistance exercises</li>
            <li><b>eating a healthy diet</b> that includes plenty of fruit, vegetables and sources of <a href="https://www.nhs.uk/conditions/vitamins-and-minerals/calcium/">calcium</a>, such as low-fat milk and yoghurt</li>
            <li><b>getting some sunlight</b> – sunlight on your skin triggers the production of <a href="https://www.nhs.uk/conditions/vitamins-and-minerals/vitamin-d/"></a>vitamin D, which can help to keep your bones strong</li>
            <li><b>stopping smoking and cutting down on alcohol</b></li>
            <li><b>taking vitamin D supplements</b></li>
          </ul>
          <p>Read more about <a href="https://www.nhs.uk/conditions/osteoporosis/prevention/">preventing osteoporosis</a>.</p>
        </section>


        <section>
          <h2>Follow-up appointments</h2>
          <p>If you're having treatment for your perimenopausal and menopausal symptoms, you'll need to see your doctor  for a follow-up review after 3 months, and then usually once a year after that.</p>
          <p>During your reviews, the doctor may:</p>
          <ul>
            <li>make sure your symptoms are under control</li>
            <li>ask about any side effects and bleeding patterns</li>
            <li>check your weight and blood pressure</li>
            <li>review the type of HRT you're taking and make any necessary changes</li>
          </ul>
          <p>You may wish to take HRT for many years, or for the rest of your life.</p>
          <p>Your individual benefits and risk should be assessed every year.</p>
          <p>There is no age limit for taking HRT so you do not need to stop taking it after a certain amount of time or at a specific age.</p>
        </section>


        <section>
          <h2>Complementary and alternative therapies</h2>
          <p>Complementary and alternative treatments, such as herbal remedies and compounded bioidentical hormones, are not recommended for symptoms of the menopause. </p>
          <p>This is because it's not clear how safe or effective they are, and they may be harmful. There’s no good quality evidence to support using them. </p>
          <p>Some complementary and alternative therapies can also interact with other medicines and cause side effects.</p>
          <p>Ask your GP or pharmacist for advice if you're thinking about using a complementary therapy.</p>
        </section>


        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 8 December 2021<br>
            Next review due: 8 December 2024
          </p>
        </div>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="symptoms">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Symptoms</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </article>

{% endblock %}




<!-- Footer goes inside the footer block -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-sites/" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-app/" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/contact-us/" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/personalisation/login.aspx" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/site-map/" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/accessibility-statement/" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/cookies-policy/" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}