{% extends 'layout.html' %}

{% block pageTitle %}
Content page template - NHS.UK prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

  {{
    header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
        },
    
        {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
        },

        {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
        },

        {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
        },

        {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
        },

        {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
        }
      ]
    })
  }}

{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/",
        text: "Health A to Z"
      }
    ],
        href: "menopause",
        text: "Menopause"
  }) }}
{% endblock %}


{% block content %}


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1>
          <span role="text">Symptoms
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden"> - </span>
              Menopause
            </span>
          </span>
        </h1>


        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>
          <ol class="nhsuk-contents-list__list">
    
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="menopause">Overview</a>
            </li>
    
            <li class="nhsuk-contents-list__item" aria-current="page">
              <span class="nhsuk-contents-list__link">Symptoms</a>
            </li>
    
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="things-you-can-do">Things you can do</a>
            </li>
            
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="treatments">Treatments</a>
            </li>
    
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="further-help-and-support">Further help and support</a>
            </li>
    
          </ol>
        </nav>

      </div>
    </div>

    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">


          <section>
            <h2>Changes to your periods</h2>
            <p>The first sign of the menopause is usually a change in the normal pattern of your periods. They may get lighter or heavier, and happen less often.</p>
            <p>Eventually, you'll stop having periods altogether..</p>
            <p>Symptoms usually start months or years before your periods stop. This is called the perimenopause.</p>
          </section>


          <section>
            <h2>Common symptoms of perimenopause and menopause</h2>
            <p>Not everyone gets symptoms, but if you do they can have a big impact on your daily life..</p>
            <p>Your symptoms may be worse if your menopause comes on suddenly, for example after surgery to remove your ovaries.</p>


            <section>
              <h3>Mental health symptoms</h3>
              <p>Common mental health symptoms of menopause and perimenopause include:</p>

              <ul>
                <li>hanges to your mood, like low mood, <a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/anxiety-fear-panic/">anxiety</a>, mood swings and low self-esteem</li>
                <li>problems with memory or concentration (brain fog)</li>
              </ul>
            </section>



            <section>
              <h3>Physical symptoms</h3>
              <p>Common physical symptoms of menopause and perimenopause include:</p>

              <ul>
                <li>hot flushes, when you have short, sudden feelings of heat or cold, usually in your face, neck and chest. They can make you sweaty or dizzy</li>
                <li><a href="https://www.nhs.uk/conditions/night-sweats/">night sweats</a></li>
                <li><a href="https://www.nhs.uk/conditions/insomnia/">difficulty sleeping</a>, which may be a result of the night sweats and make you feel tired and irritable during the day</li>
                <li>palpitations, when your heartbeats suddenly become more noticeable</li>
                <li><a href="https://www.nhs.uk/conditions/headaches/">headaches</a> and migraines that are worse than usual</li>
                <li>muscle aches and joint pains</li>
                <li>changing body shape and weight gain</li>
                <li>skin changes including dry and itchy skin</li>
                <li><a href="https://www.nhs.uk/conditions/loss-of-libido/">reduced sex drive (libido)</a></li>
                <li><a href="https://www.nhs.uk/conditions/vaginal-dryness/">vaginal dryness</a> and pain, itching or discomfort during sex</li>
                <li>recurrent <a href="https://www.nhs.uk/conditions/urinary-tract-infections-utis/">urinary tract infections (UTIs)</a>
              </ul>

              <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                <div class="nhsuk-card--care__heading-container">
                  <h2 class="nhsuk-card--care__heading">
                    <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Get advice from a GP if:</span>
                  </h2>
                  <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
                </div>
                <div class="nhsuk-card__content">
                  <ul>
                    <li>you think you have perimenopause or menopause symptoms and want to know more about treatment</li>
                    <li>perimenopause or menopause symptoms are a problem</li>
                    <li>you're under 45 and think you have perimenopause or menopause symptoms</li>
                  </ul>
                  <p>A doctor or nurse at your GP surgery will be able to give you information about self-care and treatments.</p>
                </div>
              </div>
            </section>

            <section>
              <h2>How long symptoms last</h2>
              <p>Menopause is different for everyone. You may have a number of symptoms or none.</p>
              <p>Symptoms can last for months or years, and can change with time.</p>
              <p>For example, hot flushes and night sweats may improve, and then you may develop low mood and anxiety.</p>

              <div class="nhsuk-warning-callout">
                  <h2 class="nhsuk-warning-callout__label">
                    <span role="text">
                       <span class="nhsuk-u-visually-hidden">Important: </span>
                       Important
                    </span>
                  </h2>
                  <p>Getting advice early can help reduce the impact symptoms of perimenopause and menopause have on your health, relationships and work.</p>
              </div>
            </section>



          <div>
            <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
              Page last reviewed: 17 December 2021<br>
              Next review due: 17 December 2024
            </p>
          </div>


          <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
            <ul class="nhsuk-list nhsuk-pagination__list">

              <li class="nhsuk-pagination-item--previous">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="menopause">
                  <span class="nhsuk-pagination__title">Previous</span>
                  <span class="nhsuk-u-visually-hidden">:</span>
                  <span class="nhsuk-pagination__page">Menopause</span>
                  <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" width="34" height="34">
                    <path
                      d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                    </path>
                  </svg>
                </a>
              </li>

              <li class="nhsuk-pagination-item--next">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="things-you-can-do">
                  <span class="nhsuk-pagination__title">Next</span>
                  <span class="nhsuk-u-visually-hidden">:</span>
                  <span class="nhsuk-pagination__page">Things you can do</span>
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" width="34" height="34">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                </a>
              </li>

            </ul>
          </nav>

        </div>

      </div>
    </article>









{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-sites/" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/nhs-app/" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/contact-us/" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/personalisation/login.aspx" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/about-us/site-map/" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/accessibility-statement/" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://www.nhs.uk/our-policies/cookies-policy/" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}